@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Graphik, system-ui, sans-serif;
  }

  /* Matter */
  @font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Regular.woff2') format('woff2'),
      url('/fonts/Graphik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Garamond';
    src: url('/fonts/ITCGaramondStd-LtCond.woff2') format('woff2'),
      url('/fonts/ITCGaramondStd-LtCond.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Garamond';
    src: url('/fonts/ITCGaramondStd-LtCondIta.woff2') format('woff2'),
      url('/fonts/ITCGaramondStd-LtCondIta.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
}