@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Graphik, system-ui, sans-serif;
    cursor: none;
  }

  body {
    cursor: none;
  }

  a {
    cursor: none;
  }

  .backface-visible {
    backface-visibility: visible;
  }

  .backface-invisible {
    backface-visibility: hidden;
  }
}
